# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Sass
.sass-cache/
*.scssc

# MacOS
.DS_Store

# Logs
logs
*.log

# Dependency directories
jspm_packages/

# Gulp
.gulp/

# Compiled CSS
#assets/css/styles.css

# Compiled JavaScript
#assets/js/scripts.js

# IDEs and editors
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
*.code-workspace

# Miscellaneous
